<div class="p-6 min-h-full bg-base-300 text-base-content overflow-auto transition-colors duration-300">

  <!-- Titulo -->
  <h1 class="text-2xl font-bold mb-5 text-base-content ">Operativos Programados</h1>

  <!-- Header -->
  <div class="p-4 mb-7 card bg-base-100 shadow-md">
    <!-- CONTENEDOR PRINCIPAL -->
    <div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4 py-4">

      <!--  BUSCADOR -->
      <div class="flex flex-col md:flex-row gap-4 items-center w-full md:w-auto">

        <!-- Input descripcion -->
        <div class="relative w-full md:max-w-xs">
          <input type="text" class="input input-bordered w-full bg-base-100 rounded-md h-11 pl-10 pr-4 text-sm
                 focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Buscar por descripción"
            autocomplete="off" [(ngModel)]="descripcionBusqueda" (ngModelChange)="onSearchChange()" />
          <i class="fa fa-search absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>
        </div>

        <!-- Filtro Fecha -->
        <div class="relative w-full md:max-w-xs">
          <input type="date" class="input input-bordered w-full bg-base-100 rounded-md h-11 pl-10 pr-4 text-sm
           focus:outline-none focus:ring-2 focus:ring-indigo-500" [(ngModel)]="fechaBusqueda"
            (change)="onSearchChange()" />

          <i class="fa fa-calendar absolute left-3 top-1/2 -translate-y-1/2 text-gray-400"></i>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Crear patrullaje  -->
  <patrullaje-program-form [mostrarModal]="mostrarModal" [modoEdicion]="modoEdicion"
    [patrullajeSeleccionado]="patrullajeSeleccionado" (modalCerrado)="cerrarModal()"
    (patrullajeCreado)="getPatrullajePaginado()"></patrullaje-program-form>


  <!-- Modal Ver patrullaje -->
  <patrullaje-program-info [mostrarModal]="mostrarModalInfo" [patrullaje_id]="patrullaje_id"
    (modalCerrado)="cerrarModalInfo()"></patrullaje-program-info>


  <!-- Tabla -->
  <div class="p-6 min-h-auto bg-base-100 rounded-xl shadow-xl">
    <div class="overflow-x-auto text-base-content border border-base-300/90 shadow rounded-lg">
      <!-- Header acciones -->
      <div class="flex justify-between items-center p-5">

        <!-- Selector de cantidad -->
        <div class="flex items-center gap-2 text-sm">
          <label>Mostrar:</label>

          <select class="select select-bordered select-sm w-auto" [(ngModel)]="limit" (change)="cambiarLimite()">
            <option *ngFor="let size of pageSizeOptions" [ngValue]="size">
              {{ size }}
            </option>
          </select>

          <span>items por página</span>
        </div>

        <!-- Botónes -->
        <div class="flex flex-row justify-center items-center gap-4">

          <button class="btn btn-primary text-base-content hover:text-white bg-info hover:bg-primary border-none"
            (click)="abrirModal()">
            <i class="fa-solid fa-plus mr-1"></i>
            Operativo
          </button>
        </div>

      </div>

      <!-- Tabla  -->
      <table class="table w-full">

        <thead class="bg-base-300/90">
          <tr>
            <th>#</th>
            <th>Descripcion</th>
            <th>Hora Inicio</th>
            <th>Hora Final</th>
            <th>Estado</th>
            <th>Actualización</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @if (isLoading) {
          <tr>
            <td colspan="7" class="text-center py-4 text-base-content/70">Cargando unidades...</td>
          </tr>
          }

          @for (patrulla of patrullajes; track patrulla.id; let i = $index) {
          <tr class="hover ">

            <!-- Numeracion -->
            <td>{{i + 1}}</td>

            <!-- Descripcion -->
            <td>{{ patrulla.descripcion }}</td>

            <!-- Hora Inicio -->
            <th>
              {{patrulla.hora_inicio}}
            </th>

            <!-- Hora Fin -->
            <td>{{patrulla.hora_fin}}</td>

            <!-- Estado -->
            <td>
              <span class="badge badge-soft badge-info font-semibold">
                {{ patrulla.estado }}
              </span>
            </td>

            <!-- Actualización -->
            <td>
              {{ patrulla.updatedAt | date: 'dd/MM/yyyy, hh:mm a' }}
            </td>

            <!-- ACCIONES PRINCIPALES  -->
            <td class="text-right relative">

              <div class="flex justify-start items-center gap-1">
                <!-- Ver -->
                <button class="btn btn-ghost btn-circle btn-md" (click)="verPatrullaje(patrulla)">
                  <i class="fa-solid fa-eye"></i>
                </button>

                <!-- Editar -->
                <button class="btn btn-ghost btn-circle btn-md" (click)="editarPatrullaje(patrulla)">
                  <i class="fa-solid fa-pencil"></i>
                </button>

                <!-- Eliminar -->
                <button class="btn btn-ghost btn-circle btn-md" (click)="eliminarPatrullaje(patrulla)">
                  <i class="fa-solid fa-trash"></i>
                </button>

              </div>

            </td>
          </tr>
          }


        </tbody>


      </table>

      @if (!isLoading && patrullajes.length === 0) {
      <div class="flex flex-col items-center justify-center my-10 text-center text-base-content/70">
        <img src="assets/img/empty-folder.png" alt="Sin solicitudes" class="w-40 h-40 mb-6 opacity-80" />
        <h3 class="text-lg font-semibold text-base-content mb-2">
          No hay operativos registrados
        </h3>
        <p class="text-sm max-w-md">Cuando se asignen nuevos operativos, aparecerán aquí automáticamente.</p>
      </div>}

      <!-- Paginación -->
      <div class="flex justify-end items-center p-4 text-sm text-base-content bg-base-300/90">
        <span> Página {{ page }} de {{ totalPages }} registros</span>
        <div class="join ml-4 gap-2">
          <button class="join-item btn btn-sm" [disabled]="page === 1" (click)="cambiarPagina(page - 1)">
            Anterior
          </button>

          <button class="join-item btn btn-sm" [disabled]="page === totalItems" (click)="cambiarPagina(page + 1)">
            Siguiente
          </button>
        </div>
      </div>
    </div>


  </div>
</div>
